@page "/interop"
@inject IJSRuntime JsRuntime;

<h1>JavaScript Interop</h1>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-3">
                <h5>Standaard functies</h5>
            </div>
            <div class="col-md-9 text-right">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success" @onclick="CreateAlert">Alert</button>
                    <button type="button" class="btn btn-success" @onclick="HelloUser">Dag gebruiker</button>
                    <button type="button" class="btn btn-success" @onclick="StartAnimation">Start animatie</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-title text-center">
            <p id="demo"></p>
            <hr />
            <div id="box" class="bg-primary">
                <div id="animate" class="bg-success"></div>
            </div>
        </div>                
    </div>
</div>

@code {
    public string InputField { get; set; }
    async Task CreateAlert()
    {
        await JsRuntime.InvokeVoidAsync("createAlert");
    }

    async Task StartAnimation()
    {
        await JsRuntime.InvokeVoidAsync("startAnimation");
    }

    async Task HelloUser()
    {
        await JsRuntime.InvokeVoidAsync("helloUser");
    }
}
